{% extends "blog_generic.html" %}
{% load static %}
{% load addfilt %}
{% load cache %}
{% load i18n %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-8">
                <div class="media">

                    <div class="media-body">
                        <h4 class="media-heading">{{ post.title }}</h4>
                        <h5><a href="{% url 'blogs:post_list' %}?author={{ post.author }}">{{ post.author }}
                            <span class="label label-default"></span></a></h5>

                        <p>{{ post.text }}</p>
                    </div>
                    <div class="media-right">

                        <p> {% if user.is_authenticated and user == post.author %}
                            <a href="{% url 'blogs:blog_post' pk=post.id %}edit">Edit</a>
                        {% endif %}</p>
                    </div>
                    <div class="media-bottom">
                        {% if user.is_authenticated %}
                            {% block like %}
                                {% include 'like.html' with liked=post.likes object=post lc=post.lc postid=post.id %}
                            {% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-4">
                {% if user.is_authenticated %}
                    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
                    <div class="comment-form">
                        <div class="widget-area no-padding blank">
                            <div class="status-upload">
                                <form name="comment_form" method="post" action="">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-success"><i class="fa fa-share"></i>
                                    </button>

                                </form>
                            </div><!-- Status Upload  -->
                        </div><!-- Widget Area -->
                    </div>

                {% else %}
                    <h5 align="center"> {% trans "Login to leave comments" %} </h5>
                {% endif %}
                <div class="comments-container pre-scrollable ">
                    <ul id="comments-list" class="comments-list">
                        {% cache 500 comments request.user.username %}
                            {% for comment in comments reversed %}
                            {% block comment %}

                                {% include 'comment.html' with liked=comment.likes.all lc=comment.lc %}
                            {% endblock %}
                        {% endfor %}
                        {% endcache %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="{% static 'js/base_post_detailed.js' %}"></script>
{% endblock %}