<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Привет
        {% endblock %}
    </title>
</head>
<body>
<div id="header">
    {% block header %}
        {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <p><a href="{% url 'core:logout' %}">Logout </a></p>
            <p><a href="{% url 'blogs:new_post' %}"> New Record</a></p>
        {% else %}
            <li><a href="{% url 'core:login' %}">Login </a></li>
            <li><a href="{% url 'core:register' %}">Register </a></li>
        {% endif %}
    {% endblock %}
</div>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/">Blogs</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>