{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    Log In
{% endblock %}

{% block content %}
    <div class="container text-center">
        <form class="form-horizontal" action='' method="POST">
            {% csrf_token %}
            <fieldset>

                {% for field in form %}
                    <div class="control-group">

                        <label class="control-label" for={{ field.id_for_label }}> {{ field.label_tag }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    </div>
                {% endfor %}

            </fieldset>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">{% trans "Log In"%}</button>
                </div>
            </div>
        </form>
        {% for error in form.errors.values %}
            <br>{{ error|striptags }}
        {% endfor %}
    </div>

{% endblock %}